#text{
    padding: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: calc(25% - 7vh);

    background-color: whitesmoke;
    text-align: justify;
    width: 50%;

    border: solid 5px black;
    border-radius: 15px;
    
}

#text h1{
    margin-bottom: 1vh;
    font-size: 6vh;
    font-weight: bolder;
}

#text h2,h3{
    margin-bottom: 1vh;
    font-size: 40px;
}

#text a:link {
    text-decoration: none;
    color: dodgerblue;
    font-weight: bolder;
}

#text a:visited{
    text-decoration: none;
    color: dodgerblue;
    font-weight: bolder;
}

#text a:active {
    text-decoration: none;
    color: rgb(233, 30, 255);
    font-weight: bolder;
}

.imagen{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 70vh;
}